<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOSS直聘-互联网招聘神器！</title>
  <link rel="stylesheet" href="style/reset.css">
  <link rel="stylesheet" href="style/main.css">
  <link rel="shortcut icon" type="image/x-icon" href="./images/screen-icon.png">
</head>

<body>
  
  <div class="container" id="app">
    <!-- 头部 -->
    <div class="home-header">
      <img src="./images/home-search-text.png" alt="">
      <!-- 表单输入框 -->
      <form action="">
        <input type="text" placeholder="搜索职位/公司">
        <button>搜索</button>
      </form>
    </div>

    <!-- 列表项 -->
    <div class="home-categories">
    <dl v-for="item in categories">
      <dt><img :src="item.icon" alt="">
        <!-- 引入vue文件 new Vue 绑定id  引入数组对象  v-for修改 ：修改  双大括号修改 
          src="./images/technology.png" 技术   v-for  --> 
      <div>{{item.name}}</div>
      </dt>
      <dd>
        <a href="" class="tag" v-for="tag in item.tags">{{tag}}</a>
      </dd>
    </dl>

   
    
  </div>

  <!-- 底部 -->
  <div class="home-footer">
    <p>违法和不良信息举报邮箱：jubao@kanzhun.com</p>
    <p>企业服务热线和举报投诉：400 065 5799</p>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 数据和展现分离 -->
<script>
  new Vue({
    el:'#app',
    data:{
      categories:[
        {
        icon: './images/technology.png',
        name: '技术',
        tags: ['Java','PHP','NodeJs'],
      },
      {
        icon: './images/technology.png',
        name: '职位',
        tags: ['Java','PHP','NodeJs'],
      },
      
      {
        icon: './images/technology.png',
        name: '技术',
        tags: ['Java','PHP','NodeJs'],
      },
      
      
    ]
  }
})
</script>
</body>
</html>